/* Page Container */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  flex-basis: 25%;
  flex-grow: 0.35;
  flex-shrink: 0;
  min-height: 20em;
  width: 25%;
}

.flex-item:first-child {
  margin-top: 2px;
}

@media screen and (max-width: 1800px) {
  .flex-item {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}

@media screen and (max-width: 860px) {
  .flex-item {
    flex-basis: 50%;
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .flex-item {
    flex-basis: 100%;
    min-height: 120px;
    width: 100%;
  }
}

/* Cards */

.bookmark-button {
  bottom: 0;
  display: none;
  padding-bottom: 4px;
  padding-right: 4px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.card-container {
  height: 100%;
}

.card-container:hover .bookmark-button {
  display: block;
}

@media screen and (max-width: 640px) {
  .card-container {
  }
}
